.g-doc {
    background: #e5e5e5;
    padding: 0.3rem 0;
    box-sizing: border-box;
    height: 100%;
    width: 7.5rem;
    position: absolute;
}

.swiper-wrapper {
    width: 100%;
}

.compic1,.compic2,.compic4,.compic5,.compic6,.compic7,.compic8 {
    width: 100%;
    height: 4rem;
    background: url(../images/may/company/1.jpg) center center no-repeat;
    background-size: 100%;
}
.compic2 {
    background: url(../images/may/company/2.jpg) center center no-repeat;
    background-size: 100%;
}
.compic4 {
    background: url(../images/may/company/4.jpg) center center no-repeat;
    background-size: 100%;
}
.compic5 {
    background: url(../images/may/company/5.jpg) center center no-repeat;
    background-size: 100%;
}
.compic6 {
    background: url(../images/may/company/6.jpg) center center no-repeat;
    background-size: 100%;
}
.compic7 {
    background: url(../images/may/company/7.jpg) center center no-repeat;
    background-size: 100%;
}
.compic8 {
    background: url(../images/may/company/8.jpg) center center no-repeat;
    background-size: 100%;
}
.works{
    position:absolute;
    color: #fff;
    font-size: 0.5rem;
    bottom: 0;
    left: 0.3rem;
}
.ourcompany{
    margin-top: 0.3rem;
    background: hotpink;
    color: #fff;
    border-radius:5px;
    padding-left: 0.3rem;
    box-sizing: border-box;
}
header {
    text-align: center;
    widows: 100%;
    height: 0.88rem;
    background: #f0f;
    color: #fff;
    line-height: 0.88rem;
}

.pic_box {
    width: 100%;
    background: #fff;
    position: relative;
    height: auto;
    padding: 0.3rem 0;
    box-sizing: border-box;
}

.pic {
    margin-left: 0.2rem;
    width: 4rem;
    /* height: 8rem; */
    border-radius: 0.3rem;
    padding: 0.3rem;
    box-sizing: border-box;
}

.pic img {
    border-radius: 0.3rem;
    width: 100%;
}
.aboutme{
    position: relative;
}
.tag {
    position: absolute;
    right: 0.2rem;
    top: 0.5rem;
}

.tag li {
    padding: 0.3rem;
    background: hotpink;
    margin: 0.3rem auto;
    border-radius: 0.1rem;
    color: #fff;
}

.more {
    text-align: center;
    padding: 0.3rem 0;
    box-sizing: border-box;
}

.ins {
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.3rem auto;
}

.ins img {
    width: 100%;
}

.intrdu_text {
    margin: 0.3rem;
}

.company {
    margin: 0.3rem 0;
    text-indent: 2em;
}
.swiper-container{
    position: relative;
}
.swiper-button-next,.swiper-button-prev{
    position: absolute;
    border:1px solid pink;
    z-index: 99;
    background: rgba(0,0,0,.2);
    text-align: center;
    width: 0.4rem;
    height: 0.4rem;
    line-height: 0.4rem;
    border-radius: 3px;
    color: hotpink;
}
.web,.email,.myphone{
    color: blue;
}