<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="../assets/css/queenmay.css">
    <script src='../assets/js/mobile .js'></script>
    <title>queenmay</title>
</head>

<body>
    <div class="g-doc">
        <!-- <header>Hi,I'm queenmay</header> -->
        <!-- 轮播图 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide compic1"></div>
                <div class="swiper-slide compic2"></div>
                <div class="swiper-slide compic4"></div>
                <div class="swiper-slide compic5"></div>
                <div class="swiper-slide compic6"></div>
                <div class="swiper-slide compic7"></div>
                <div class="swiper-slide compic8"></div>

            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next">></div>
            <div class="swiper-button-prev"><</div>
        </div>
        <div>
            <div class="pic_box">
                <div class="pic">
                    <img src="../assets/images/may/may1.JPG" alt="">
                </div>
                <ul class="tag">
                    <li>Sunshine up</li>
                    <li>yoga</li>
                    <li>Guangzhou Tianyi </li>
                </ul>
                <!-- 公司及个人介绍 -->
                <div class="intrdu_text">
                    <p class="company">TEAM.E is proud to be one of the largest Architectural CG company in
                        China,and
                        strives to be
                        forefront of Architectural CG field !
                        <p class="company"> With 14 years development in CG we obtain enrich experiences in famous architecture items
                            at
                            home
                            and abroad, many of our visualisations help Architects win projects successfully !
                            Including
                            EMAAR,
                            Perkins+will，AECOM , RTKL Associates Inc., Atkins , DP Architects PTE LTD , DESIGN Group ,
                            HMD
                            New
                            York LLC , GDP Architects SDN BHD , HBA,ect., these well-knowned enterprises !</p>

                    </p>.
                    <p class="company">Any assistance with your Architectural renders and animations, please do get in touch with
                        us
                        directly and benefit from:
                        <p class="company"> Various choice of CG products services for your ref .,</p>
                        <p class="company">Very competitive price , most effectively completion .</p>
                    </p>
                    <p class="company">Welcome to your consults ！</p>
                    <p class="company">Our web: <a href="http://www.teame.com.cn">http://www.teame.com.cn</a> </p>
                    <p class="company">Our Email: teame10@teame.com.cn</p>
                    <p class="company">My Phone/ WhatsApp/Skype: <a href="tel:+86 150 9999 0746">+86 150 9999 0746</a> </p>
                    <p class="company">My Name : Queenmay Qin</p>
                </div>

            </div>
        </div>
        <div class="more">
            <p>Learn more</p>
            <div class="ins"> <img src="../assets/images/may/in.jpg" alt=""></div>

        </div>
    </div>
    <script src='../assets/swiper/swiper.min.js'></script>
    <script src='../assets/js/Queenmay.js'></script>
</body>

</html>