<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="../assets/css/queenmay.css">
    <script src='../assets/js/mobile .js'></script>
    <title>queenmay</title>
</head>

<body>
    <div class="g-doc">
        <!-- <header>Hi,I'm queenmay</header> -->
        <!-- 轮播图 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide compic1">
                    <span class="works">Our works</span>
                </div>
                <div class="swiper-slide compic2">
                    <span class="works">Our works</span>
                </div>
                <div class="swiper-slide compic4">
                    <span class="works">Our works</span>
                </div>
                <div class="swiper-slide compic5">
                    <span class="works">Our works</span>
                </div>
                <div class="swiper-slide compic6">
                    <span class="works">Our works</span>
                </div>
                <div class="swiper-slide compic7">
                    <span class="works">Our works</span>
                </div>
                <div class="swiper-slide compic8">
                    <span class="works">Our works</span>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next">></div>
            <div class="swiper-button-prev">
                <</div> </div> <div>

                    <!-- 照骗 -->
                    <div class="pic_box">
                        <!-- 公司及个人介绍 -->
                        <h2 class="ourcompany">Our company</h2>
                        <div class="intrdu_text">
                            <p class="company">TEAM.E is proud to be one of the largest Architectural CG company in
                                China,and
                                strives to be
                                forefront of Architectural CG field !
                            </p>

                            <p class="company">Any assistance with your Architectural renders and animations, please do
                                get in touch with
                                us
                                directly and benefit from:
                                <p class="company"> Various choice of CG products services for your ref .</p>
                                <p class="company">Very competitive price , most effectively completion .</p>
                            </p>
                            <p class="company">Welcome to your consults ！</p>
                            <p class="company">Our web: <a href="http://www.teame.com.cn" class="web">http://www.teame.com.cn</a>
                            </p>
                            <p class="company">Our Email: <a href="teame10@teame.com.cn" class="email">teame10@teame.com.cn</a>
                            </p>

                        </div>
                        <!-- 关于我 -->
                        <h2 class="ourcompany">About me</h2>
                        <div class="aboutme">
                            <div class="pic">
                                <img src="../assets/images/may/may1.JPG" alt="">
                            </div>
                            <ul class="tag">
                                <li>Queenmay Qin</li>
                                <li>Project Coordinator</li>
                                <li>Guangzhou Tianyi </li>
                            </ul>
                            <div class="ins"> <img src="../assets/images/may/in.jpg" alt=""></div>
                            <p style="margin-left:0.2rem;">My Phone/ WhatsApp/Skype: <a href="tel:+86 150 9999 0746"
                                    class="myphone">+86
                                    150 9999
                                    0746</a> </p>
                            <p style="margin-left:0.2rem;">If you need to do business, contact me immediately.</p>
                        </div>
                    </div>
            </div>
            <div class="more">
                <p>Best wishes</p>
            </div>
        </div>
        <script src='../assets/swiper/swiper.min.js'></script>
        <script src='../assets/js/Queenmay.js'></script>
</body>

</html>