<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/queenmay.css">
    <script src='../assets/js/mobile .js'></script>
    <title>queenmay</title>
</head>

<body>
    <div class="g-doc">
        <header>Hi,I'm queenmay</header>
        <div>
            <div class="pic_box">
                <div class="pic">
                    <img src="../assets/images/may/may1.JPG" alt="">
                </div>
                <ul class="tag">
                    <li>Sunshine up</li>
                    <li>yoga</li>
                    <li>Guangzhou Tianyi </li>
                </ul>

            </div>
        </div>
        <div class="more">
             <p>Learn more</p> 
             <div class="ins"> <img src="../assets/images/may/in.jpg" alt=""></div>
           
        </div>
    </div>

</body>

</html>